html,
body {
    margin: 0;
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

#code {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    white-space: pre-wrap;
}

.line {
    display: flex;

    &:nth-child(odd) {
        background-color: rgb(247, 247, 247);
    }

    .no {
        width: 4em;
        text-align: right;
        padding: 0.2em 0.4em;
        border-right: solid black 1px;
        flex-shrink: 0;
    }

    .txt {
        flex-grow: 1;
        padding: 0.2em 0.8em;
    }
}

span {
    --col: transparent;
    --opacity: 0.1;
    --border: 0px;
    background-color: rgba(var(--col), var(--opacity));
    outline: solid rgb(var(--col)) var(--border);
    outline-offset: 2px;
    border-radius: 2px;

    &:hover:not(:has(*:hover)) {
        --opacity: 0.8;
        --border: 2px;
        z-index: 10;
    }
}