span {
    &.comment {
        --col: 200, 200, 200;
        color: rgb(110, 110, 110);
        font-style: italic;
    }

    &.named-type,
    &.generic-type,
    &.constraint-type,
    &.union-type,
    &.complex-type {
        --col: 150, 150, 150;
    }

    &.constraint {
        --col: 233, 108, 108;
    }

    &.property {
        --col: 233, 108, 176;
    }

    &.extend {
        --col: 108, 197, 233;
    }

    &.op {
        --col: 108, 148, 233;
    }

    &.predicate {
        --col: 193, 108, 233;
    }

    &.logical-expr,
    &.binary-expr,
    &.unary-expr,
    &.get-expr {
        --col: 123, 215, 193;
    }

    &.template {
        --col: 163, 117, 71;
    }

    &.type-name,
    &.op-name,
    &.predicate-name {
        --col: 200, 200, 200;
        font-weight: bold;
    }
}